<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>uCook</title>

    <!-- Bootstrap Core CSS -->
<!--     <link href="css/hamburg-menu.css" rel="stylesheet"> -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
</head>

<body>
	<section id="intro" class="intro-section">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12">
	                <h1 class="intro-section">uCook</h1>
	            </div>
	            <div class="search-bar">
	                <input type="search" class="search"></input>
	                <p></p>
	                <span class="advanced-search"><a href="/advanced_search" style="color:black"><button id="advanced-button"class="advanced-search">Advanced Search</button></a></span>
	                <span class="normal-search"><button class="normal-search" onclick="location.href='/recipe-search';">Search</button></span>
	            </div>
	        </div>
	    </div>
	</section>

	<input type="text" value="This is some text" id="text" style="width: 150px;" />
	<br />
	<input type="button" value="Click Me" id="button" />

	<script src="js/advanced_search.js"></script>
</body>