<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>uCook</title>

    <!-- Bootstrap Core CSS -->
<!--     <link href="css/hamburg-menu.css" rel="stylesheet"> -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
</head>

<body>
	<%include navbar.html%>

	<input type="text" value="Search by Recipe Name" id="text" style="width: 150px;" />
	<br />
	<input type="button" value="Click Me" id="button" />

	<div>
		<h1>Ingredient Suggestions</h1>
		<span class="icon-plus" style="font-size:16.09375px"> butter</span>
	</div>


	<script src="js/advanced_search.js"></script>
 <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

     <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <script src="js/scrolling-nav.js"></script>
</body>