<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>uCook</title>
       
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <%include navbar.html%>
        
    <div class="col-md-12 text-center"><h3>Baking Videos</h3></div>
    <section id="feat" class="carousel-section" style="margin-bottom:-125px;">
        <h1 style="text-align:left; margin-left:55px;font-size:25px;">Cookies</h1>
    <div class="container">
    <div class="col-md-12">
        <div class="well">
            <div id="myCarousel" class="carousel slide">
                
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/XcEXObUJiK8?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/XcEXObUJiK8/0.jpg" height="200" width="200"  title="Oatmeal Cookies" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Oatmeal Cookies</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/YIiHiMXOeYU?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/YIiHiMXOeYU/0.jpg" height="200" width="200"  title="Chocolate Chip Cookies" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Chocolate Chip Cookies</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/j8rY6-z-jig?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/j8rY6-z-jig/0.jpg" height="200" width="200"  title="Peanut Butter Cookies" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Peanut Butter Cookies</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/Ry36BCELHIo?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/Ry36BCELHIo/0.jpg" height="200" width="200"  title="Sugar Cookies" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Sugar Cookies</p>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/XcEXObUJiK8?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/XcEXObUJiK8/0.jpg" height="200" width="200"  title="Oatmeal Cookies" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Oatmeal Cookies</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/YIiHiMXOeYU?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/YIiHiMXOeYU/0.jpg" height="200" width="200"  title="Chocolate Chip Cookies" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Chocolate Chip Cookies</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/j8rY6-z-jig?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/j8rY6-z-jig/0.jpg" height="200" width="200"  title="Peanut Butter Cookies" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Peanut Butter Cookies</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/Ry36BCELHIo?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/Ry36BCELHIo/0.jpg" height="200" width="200"  title="Sugar Cookies" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Sugar Cookies</p>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
</div>

</section>

    <section id="feat" class="carousel-section" style="margin-bottom:-125px;">
        <h1 style="text-align:left; margin-left:55px;font-size:25px;">Cakes</h1>
    <div class="container">
    <div class="col-md-12">
        <div class="well">
            <div id="myCarousel2" class="carousel slide">
                
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/9gDez9HmRmM?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/9gDez9HmRmM/0.jpg" height="200" width="200"  title="Red Velvet Cake" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Red Velvet Cake</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/vsSz7t5lqzw?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/vsSz7t5lqzw/0.jpg" height="200" width="200"  title="Chocolate Cake" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Chocolate Cake</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/kOa3LyJAPn4?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/kOa3LyJAPn4/0.jpg" height="200" width="200"  title="Cheesecake" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Cheesecake</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/3InKkTkvZ2U?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/3InKkTkvZ2U/0.jpg" height="200" width="200"  title="Cake Pop" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Cake Pop</p>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/9gDez9HmRmM?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/9gDez9HmRmM/0.jpg" height="200" width="200"  title="Red Velvet Cake" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Red Velvet Cake</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/vsSz7t5lqzw?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/vsSz7t5lqzw/0.jpg" height="200" width="200"  title="Chocolate Cake" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Chocolate Cake</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/kOa3LyJAPn4?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/kOa3LyJAPn4/0.jpg" height="200" width="200"  title="Cheesecake" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Cheesecake</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/3InKkTkvZ2U?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/3InKkTkvZ2U/0.jpg" height="200" width="200"  title="Cake Pop" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Cake Pop</p>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel2" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel2" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
</div>

</section>
    <section id="feat" class="carousel-section" style="margin-bottom:-125px;">
        <h1 style="text-align:left; margin-left:55px;font-size:25px;">Pies</h1>
    <div class="container">
    <div class="col-md-12">
        <div class="well">
            <div id="myCarousel3" class="carousel slide">
                
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/JSszC5tzNT0?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/JSszC5tzNT0/1.jpg" height="200" width="200"  title="Blueberry Pie" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Blueberry Pie</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/eazZvfyhYK0?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/eazZvfyhYK0/0.jpg" height="200" width="200"  title="Applie Pie" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Apple Pie</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/pvsPSDfyUwk?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/pvsPSDfyUwk/0.jpg" height="200" width="200"  title="Pecan Pie" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Pecan Pie</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/zVSeLW1U8go?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/zVSeLW1U8go/0.jpg" height="200" width="200"  title="Banana Cream Pie" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Banana Cream Pie</p>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                           <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/JSszC5tzNT0?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/JSszC5tzNT0/1.jpg" height="200" width="200"  title="Blueberry Pie" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Blueberry Pie</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/eazZvfyhYK0?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/eazZvfyhYK0/0.jpg" height="200" width="200"  title="Applie Pie" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Apple Pie</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/pvsPSDfyUwk?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/pvsPSDfyUwk/0.jpg" height="200" width="200"  title="Pecan Pie" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Pecan Pie</p>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/zVSeLW1U8go?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/zVSeLW1U8go/0.jpg" height="200" width="200"  title="Banana Cream Pie" alt="" style="cursor: pointer"></a> 
                                <p class="video-title">Banana Cream Pie</p>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel3" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel3" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
</div>

</section>

<div id="video_container"></div>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="js/hamburg-menu.js"></script>
    <script type="text/javascript">
    function big_yt(yt_container,url)
    {
    document.getElementById(yt_container).innerHTML='<div style="position: absolute; left: 50px; top: 100px; right: 50px; bottom: 80px"><div style="position: fixed; float: right; cursor: pointer" onclick="document.getElementById(\''+yt_container+'\').innerHTML=\'\'">CLOSE<\/div><br><iframe src="'+url+'" style="position: fixed; width: 80%; height: 80%" frameborder="2"><\/iframe><\/div>'
    }
    </script>

</body>

</html>
