<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <a href="#"><i class="fa fa-3x fa-fw fa-align-justify"></i></a>
          </div>
          <div class="col-md-11">
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#">uCook</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Services</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center text-danger">CREATE A ACCOUNT</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form role="form">
              <div class="form-group">
                <label class="control-label" for="exampleInputName">Real Name</label>
                <input class="form-control" id="exampleInputName" placeholder="Last,First (optional)" type="Name">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputUserName">User Name ( used for sign in )</label>
                <input class="form-control" id="exampleInputUserName" type="UserName">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Email address</label>
                <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Password</label>
                <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Confirm Password</label>
                <input class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" type="password">
              </div>
              <button type="Create" class="btn btn-primary">Create</button>
              <button type="Cancel" class="btn btn-default">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  

</body></html>