<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>uCook</title>
       
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <%include navbar.html%>
        
    <div class="col-md-12 text-center" style="color:rgba(2, 23, 37, 0.96)"><h3>This Week's Featured Cooking Videos</h3></div>
    <section id="feat" class="carousel-section">
    <div class="container">
    <div class="col-md-12">
        <div>
            <div id="myCarousel" class="carousel slide">
                
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/V_yDTSrsv5g?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/V_yDTSrsv5g/0.jpg" height="200" width="200"  title="Grilling" alt="" style="cursor: pointer"></a> 
                                <strong><p class="video-title">Grilling Steak</p></strong>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/wYCE_hVF8lo?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/wYCE_hVF8lo/0.jpg" height="200" width="200"  title="Grilling" alt="" style="cursor: pointer"></a> 
                                <strong><p class="video-title">Brining Chicken</p></strong>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/IdIQnsjOIL0?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/IdIQnsjOIL0/0.jpg" height="200" width="200"  title="Grilling" alt="" style="cursor: pointer"></a> 
                                <strong><p class="video-title">Peeling Tomatoes</p></strong>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/tRtAj6Uvu30?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/tRtAj6Uvu30/0.jpg" height="200" width="200"  title="Baking Fish" alt="" style="cursor: pointer"></a> 
                                <strong><p class="video-title">Baking Fish</p></strong>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/YHBbXtXLB9U?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/YHBbXtXLB9U/0.jpg" height="200" width="200"  title="Roasting Beef" alt="" style="cursor: pointer"></a> 
                                <strong><p class="video-title">Roasting Beef</p></strong>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/kd6-1v2HCho?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/kd6-1v2HCho/0.jpg" height="200" width="200"  title="Grilling" alt="" style="cursor: pointer"></a> 
                                <strong><p class="video-title">Vegetable Cuts</p></strong>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/zppZJ0Rfd-w?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/zppZJ0Rfd-w/0.jpg" height="200" width="200"  title="Grilling" alt="" style="cursor: pointer"></a> 
                                <strong><p class="video-title">Zesting</p></strong>
                            </div>
                            <div class="col-sm-3"><a onclick="big_yt('video_container','http://www.youtube.com/v/3q1JN_3s3gw?version=3&amp;autoplay=1')"><img src="http://img.youtube.com/vi/3q1JN_3s3gw/0.jpg" height="200" width="200"  title="Grilling" alt="" style="cursor: pointer"></a> 
                                <strong><p class="video-title">Cutting Fish</p></strong>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
</div>

</section>

<div id="video_container"></div>
 <div class="col-md-12 text-center" style="color:rgba(2, 23, 37, 0.96); margin-top:-60px"><h3>Find Videos By Filter</h3></div>
<div style="text-align:center; margin-bottom:200px">  
    <div class="btn-group">
      <a href="#" class="btn btn-info btn-large dropdown-toggle" data-toggle="dropdown" style="background-color: rgba(2, 23, 37, 0.96); border-color:rgba(2, 23, 37, 0.96); margin-top:30px; margin-right:10px;"> Cooking Method  <span class="caret"></span></a>
     <ul class="dropdown-menu">
         <li><a href="/baking-vid">Baking</a></li>
         <li><a>Grilling</a></li>
         <li><a>Slow Cooking</a></li>
         <li><a>Roasting</a></li>
    </ul>
    </div>
    <div class="btn-group">
      <a href="#" class="btn btn-info btn-large dropdown-toggle" data-toggle="dropdown" style="background-color:rgba(2, 23, 37, 0.96);; border-color:rgba(2, 23, 37, 0.96); margin-top:30px; margin-right:10px;"> Cuisine  <span class="caret"></span></a>
    <ul class="dropdown-menu">
         <li><a>Chinese</a></li>
         <li><a>Indian</a></li>
         <li><a>Italian</a></li>
         <li><a>Mexican</a></li>
         <li><a>Spanish</a></li>
         <li><a>Japanese</a></li>
         <li><a>Cajun</a></li>
         <li><a>Korean</a></li>
         <li><a>Thai</a></li>
    </ul>
    </div>
    <div class="btn-group">
      <a href="#" class="btn btn-info btn-large dropdown-toggle" data-toggle="dropdown" style="background-color:rgba(2, 23, 37, 0.96); border-color:rgba(2, 23, 37, 0.96); margin-top:30px; margin-right:10px;"> Prep Time  <span class="caret"></span></a>
    <ul class="dropdown-menu">
         <li><a>Under 10 min</a></li>
         <li><a>15 min</a></li>
         <li><a>30 min</a></li>
         <li><a>45 min</a></li>
         <li><a>1 hour</a></li>
         <li><a>Over 1 hour</a></li>
    </ul>
    </div>

    <div class="btn-group">
      <a href="#" class="btn btn-info btn-large dropdown-toggle" data-toggle="dropdown" style="background-color:rgba(2, 23, 37, 0.96); border-color:rgba(2, 23, 37, 0.96); margin-top:30px; margin-right:10px;"> Meal  <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><a>Breakfast</a></li>
         <li><a>Lunch</a></li>
         <li><a>Dinner</a></li>
         <li><a>Dessert</a></li>
        </ul>
    </div>

    <div class="btn-group">
      <a href="#" class="btn btn-info btn-large dropdown-toggle" data-toggle="dropdown" style="background-color:rgba(2, 23, 37, 0.96); border-color:rgba(2, 23, 37, 0.96); margin-top:30px; margin-right:10px;"> Difficulty  <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><a>Easy</a></li>
         <li><a>Medium</a></li>
         <li><a>Hard</a></li>
        </ul>
    </div>
</div>
    <div>
    <button class="btn btn-info" type="button" style="background-color: rgba(2, 23, 37, 0.96); border-color: rgba(2, 23, 37, 0.96);">Search</button>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="js/hamburg-menu.js"></script>
    <script type="text/javascript">
    function big_yt(yt_container,url)
    {
    document.getElementById(yt_container).innerHTML='<div style="position: absolute; left: 50px; top: 100px; right: 50px; bottom: 80px"><div style="position: fixed; float: right; cursor: pointer" onclick="document.getElementById(\''+yt_container+'\').innerHTML=\'\'">CLOSE<\/div><br><iframe src="'+url+'" style="position: fixed; width: 80%; height: 80%" frameborder="2"><\/iframe><\/div>'
    }
    </script>

</body>

</html>
