 <section class = "nav-section">
   <header class="cd-header">
        <!-- <div class="cd-logo"><a href="#0"><img src="img/cd-logo.svg" alt="Logo"></a></div> -->
        <nav>
            <ul class="cd-secondary-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/sign_in">Log In</a></li>
            </ul>
        </nav> <!-- cd-nav -->

        <a class="cd-primary-nav-trigger" href="#0">
            <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
        </a> <!-- cd-primary-nav-trigger -->
    </header>

    <nav>
        <ul class="cd-primary-nav">
            <li class="cd-label"><a href="/">Home</a></li>
            <li class="cd-label"><a href="/feat_vid">Cooking Videos</a></li>
            <li class="cd-label"><a href="/shopping_list">Shopping List</a></li>
            <li class="cd-label"><a href="/recipe_box">My Recipe Box</a></li>
            <li class="cd-label"><a href="#0">Contact Us</a></li>  
        </ul>
    </nav>
</section>

    <!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="/"><img style="border-width: 0px;" height="90" width="90" src="/images/logo.png"></a>
                <h1 style="color: rgba(2, 23, 37, 0.95)">uCook</h1>
            </div>
            <div class="search-bar">
                <input type="search" class="search"></input>
                <p></p>
                <span class="advanced-search"><a href="/advanced_search" style="color:black"><button id="advanced-button"class="advanced-search">Advanced Search</button></a></span>
                <span class="normal-search"><button class="normal-search" onclick="location.href='/recipe-search';">Search</button></span>
            </div>
        </div>
    </div>
</section>
