<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/scrolling-nav.css" rel="stylesheet">
  </head><body>
        <div class="menu">
    </div>
    <% include navbar_nosearch.html%>
    <div class="modal fade">
      <div class="modal-dialog"></div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12; text-center">
            <h1 class="text-danger" style="color: rgba(2, 23, 37, 0.96);">Your Recipes</h1>
            <p>Cooking is not difficult. Everyone has taste, even if they don't realize it. Even if you're not a great chef, there's nothing to stop you understanding the difference between what tastes good and what doesn't.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-mid-12">
        <a href="/recipe_page"><p>Oven Fried Chicken</p></a>
        <a href="/"><p>Club Sandwich</p><a>
        <a href="/"><p>Chipotle's Guacamole</p></a>
        <a href="/"><p>Egg Rolls</p></a>
        <a href="/"><p>Peanut Butter Chocolate Chip Cookies</p></a>
        <a href="/"><p>Regretful Fried Chicken</p></a>
        <a href="/"><p>Heartattack Hamburgers</p></a>
      </div>
    </div>
   
    <div class="section" style="margin-top: 20px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for another recipe...">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button" style="background-color: rgba(2, 23, 37, 0.96); border-color: rgba(2, 23, 37, 0.96);">Search</button>
              </span>
            </div>
            <!-- /input-group -->
          </div>
        </div>
      </div>
    </div>


    <script src="js/scrolling-nav.js"></script>
</body>
    


</html>