<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recipe Search Results</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/3-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <div class="menu">
    </div>
    <% include navbar.html%>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Recipe Search Results
                    <small>Showing results for "chicken"</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="/recipe_page">
                    <img style="border-width: 0px;" height="160" width="294" src="/images/oven-fried-chicken.jpg">
                </a>
                <a href="/recipe_page"><p style="margin-top: 10px; color: rgba(2, 23, 37, 0.96);">Oven-Fried Chicken</p></a>
                
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img style="border-width: 0px;" height="160" width="294" src="/images/steamed-chicken.jpg">
                </a>
                <a><p style="margin-top: 10px; color: rgba(2, 23, 37, 0.96);">Steamed Chicken Wing</p></a>
                
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img style="border-width: 0px;" height="160" width="294" src="/images/apricot-chicken.jpg">
                </a>
                <a><p style="margin-top: 10px; color: rgba(2, 23, 37, 0.96);">Sweet and Savory Apricot Chicken</p></a>
                
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img style="border-width: 0px;" height="160" width="294" src="/images/thai-chicken-noodle.jpg">
                </a>
                <a><p style="margin-top: 10px; color: rgba(2, 23, 37, 0.96);">Thai Chicken and Noodles</p></a>
                
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                   <img style="border-width: 0px;" height="160" width="294" src="/images/chicken-stuffed-chile.jpg">
                </a>
                <a><p style="margin-top: 10px; color: rgba(2, 23, 37, 0.96);">Chicken Stuffed Chilies</p></a>
                
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img style="border-width: 0px;" height="160" width="294" src="/images/broiled-saffron-chicken.jpg">
                </a>
                <a><p style="margin-top: 10px; color: rgba(2, 23, 37, 0.96);">Broiled Saffron Chicken</p></a>
                
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img style="border-width: 0px;" height="160" width="294" src="/images/casablanca-chicken.jpg">
                </a>
                <a><p style="margin-top: 10px; color: rgba(2, 23, 37, 0.96);">Casablanca Chicken</p></a>
                
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img style="border-width: 0px;" height="160" width="294" src="/images/garlic-chicken.jpg">
                </a>
                <a><p style="margin-top: 10px; color: rgba(2, 23, 37, 0.96);">Everyday Garlic Chicken</p></a>
                
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img style="border-width: 0px;" height="160" width="294" src="/images/poached-chicken-breast.jpg">
                </a>
                <a><p style="margin-top: 10px; color: rgba(2, 23, 37, 0.96);">Poached Chicken Breasts</p></a>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

</body>

</html>
