<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>uCook</title>
       
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/border.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
 <section class = "nav-section">
   <img style="margin-top:20px;margin-left:10px" height="35" width="35" src="/images/logo.png">
   <header class="cd-header">
        <!-- <div class="cd-logo"><a href="#0"><img src="img/cd-logo.svg" alt="Logo"></a></div> -->
        <nav>
            <ul class="cd-secondary-nav">
                <li><a href="/sign_in">Log In</a></li>
                <li><a href="/sign_up">Register</a></li>
            </ul>
        </nav> <!-- cd-nav -->

        <a class="cd-primary-nav-trigger" href="#0">
            <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
        </a> <!-- cd-primary-nav-trigger -->
    </header>

    <nav>
        <ul class="cd-primary-nav">
            <li class="cd-label"><a href="/">Home</a></li>
            <li class="cd-label"><a href="/feat_vid">Cooking Videos</a></li>
            <li class="cd-label"><a href="/shopping_list">Shopping List</a></li>
            <li class="cd-label"><a href="#0">Savings Center</a></li>
            <li class="cd-label"><a href="#0">My Recipe Box</a></li>
            <li class="cd-label"><a href="#0">Contact Us</a></li>  
        </ul>
    </nav>
</section>

<body>
	<div class="col-md-12 text-center">
		<h2>Oven Fried Chicken</h2>
	</div>
	<div class="container">
		<div class="col-md-12 text-center">
			<img style="border-width:  0px;" height="400" width="600" src="/images/oven-fried-chicken.jpg">
	    </div>
	</div>

    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="js/hamburg-menu.js"></script>
</body>

