<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/scrolling-nav.css" rel="stylesheet">
  </head><body>
        <div class="menu">
    </div>
    <% include navbar_nosearch.html%>
    <div class="modal fade">
      <div class="modal-dialog"></div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-danger" style="color: rgba(2, 23, 37, 0.96); text-align: center">Shopping List</h1>

            <a class="btn btn-primary" style="background-color: rgba(2, 23, 37, 0.96); border-color: rgba(2, 23, 37, 0.96); float: right; margin-top:30px">Print List</a>

          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table id="list"class="table">
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#"><i class="fa fa-2x fa-fw fa-trash-o"></i></a>
                  </td>
                  <td>Butter</td>
                  <td>
                    <div class="col-lg-3">
                      <div class="input-group">
                        <input type="text" class="form-control" aria-label="...">
                          <div class="input-group-btn">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Units
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                              <a href="#">cups</a>
                            </li>
                            <li>
                              <a href="#">oz</a>
                            </li>
                            <li>
                              <a href="#">lb</a>
                            </li>
                          </ul>
                        </div>
                        <!-- /btn-group -->
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                    <a href="#"><i class="fa fa-2x fa-fw fa-trash-o"></i></a>
                  </td>
                  <td>Potatoes</td>
                  <td>
                    <div class="col-lg-3">
                      <div class="input-group">
                        <input type="text" class="form-control" aria-label="...">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Units
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                              <a href="#">cups</a>
                            </li>
                            <li>
                              <a href="#">oz</a>
                            </li>
                            <li>
                              <a href="#">lb</a>
                            </li>
                          </ul>
                        </div>
                        <!-- /btn-group -->
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <a href="#"><i class="fa fa-2x fa-fw fa-trash-o"></i></a>
                  </td>
                  <td>Salmon</td>
                  <td>
                    <div class="col-lg-3">
                      <div class="input-group">
                        <input type="text" class="form-control" aria-label="...">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Units
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                              <a href="#">cups</a>
                            </li>
                            <li>
                              <a href="#">oz</a>
                            </li>
                            <li>
                              <a href="#">lb</a>
                            </li>
                          </ul>
                        </div>
                        <!-- /btn-group -->
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th>
                    <h3></h3>
                  </th>
                  <th></th>
                  <th>
                    <h3>Item</h3>
                  </th>
                  <th>
                    <h3>Quantity</h3>
                  </th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    

    <div class="section" style="margin: 0 auto;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="input-group">
              <input type="text" id="AddItemText" class="form-control" placeholder="Add another item..." style="width: 500px">

                <button id="addToList" class="btn btn-info" type="button" style="background-color: rgba(2, 23, 37, 0.96); border-color: rgba(2, 23, 37, 0.96); margin-left: 1px" >Add to List</button>

            </div>
            <!-- /input-group -->
          </div>
        </div>
      </div>
    </div>
  

 <!-- jQuery -->
<script src="js/jquery.js"></script>
<script src="js/scrolling-nav.js"></script>
<script type="text/javascript">
     var counter = 3;
    jQuery("#addToList").click(function(event){
        event.preventDefault();
        counter++;
        var newRow = jQuery('<tr><td>'+counter+'</td><td><a href="#"><i id="delete"class="fa fa-2x fa-fw fa-trash-o"></i></a></td><td>'+$("#AddItemText").val()+'</td><td><div class="col-lg-3"><div class="input-group"><input type="text" class="form-control" aria-label="..."><div class="input-group-btn"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Units<span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right"><li><a href="#">cups</a></li><li><a href="#">oz</a></li><li><a href="#">lb</a></li></ul></div><!-- /btn-group --></div></div></td></tr><tr>');
        jQuery("#list").append(newRow);
    });
    $(function(){
    $('.dropdown-menu li').click(function(e){
    //e.stopPropagation();
          e.preventDefault();
          $(this).closest('ul').siblings('.btn-default').html($(this).text());
      });
    });
   
    

    </script>
  </body></html>