<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <a href="#"><i class="fa fa-3x fa-fw fa-align-justify"></i></a>
          </div>
          <div class="col-md-11">
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#">uCook</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Services</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade">
      <div class="modal-dialog"></div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-danger">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Shopping List &nbsp; &nbsp;&nbsp;</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button">Add More!</button>
              </span>
            </div>
            <!-- /input-group -->
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#"><i class="fa fa-2x fa-fw fa-trash-o"></i></a>
                  </td>
                  <td>Butter</td>
                  <td>
                    <div class="col-lg-3">
                      <div class="input-group">
                        <input type="text" class="form-control" aria-label="...">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Units
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                              <a href="#">cups</a>
                            </li>
                            <li>
                              <a href="#">oz</a>
                            </li>
                            <li>
                              <a href="#">lb</a>
                            </li>
                          </ul>
                        </div>
                        <!-- /btn-group -->
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                    <a href="#"><i class="fa fa-2x fa-fw fa-trash-o"></i></a>
                  </td>
                  <td>potato</td>
                  <td>
                    <div class="col-lg-3">
                      <div class="input-group">
                        <input type="text" class="form-control" aria-label="...">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Units
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                              <a href="#">cups</a>
                            </li>
                            <li>
                              <a href="#">oz</a>
                            </li>
                            <li>
                              <a href="#">lb</a>
                            </li>
                          </ul>
                        </div>
                        <!-- /btn-group -->
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <a href="#"><i class="fa fa-2x fa-fw fa-trash-o"></i></a>
                  </td>
                  <td>Salmon</td>
                  <td>
                    <div class="col-lg-3">
                      <div class="input-group">
                        <input type="text" class="form-control" aria-label="...">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Units
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                              <a href="#">cups</a>
                            </li>
                            <li>
                              <a href="#">oz</a>
                            </li>
                            <li>
                              <a href="#">lb</a>
                            </li>
                          </ul>
                        </div>
                        <!-- /btn-group -->
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th>
                    <h3>#</h3>
                  </th>
                  <th></th>
                  <th>
                    <h3>Items</h3>
                  </th>
                  <th>
                    <h3>Amount</h3>
                  </th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a class="btn btn-primary">Save to Account</a>
          </div>
          <div class="col-md-3">
            <a class="btn btn-primary">Creat A Account</a>
          </div>
          <div class="col-md-3">
            <a class="btn btn-primary">Print</a>
          </div>
        </div>
      </div>
    </div>
  

</body></html>