<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/scrolling-nav.css" rel="stylesheet">
  </head><body>
    <div class="menu"></div>
    <% include navbar_nosearch.html%>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form role="form">
              <div class="form-group">
                <h3 class="text-danger" style="color: rgba(2, 23, 37, 0.96);">Sign In</h3>
                <label class="control-label" for="exampleInputUserName">Username</label>
                <input class="form-control" id="exampleInputUserName" type="text" placeholder="Username" style="width: 500px">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Password</label>
                <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password" style="width: 500px">
              </div>
              <div class="form-group">
                <a href="#">Forgot Password?</a>
              </div>
              <p></p>
              <button type="sign" class="btn btn-primary">Sign In</button>
            </form>
          </div>
        </div>
      </div>
    </div><div class="section">
    <hr>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
             <h3>Don't have an account yet? Sign up now!</h3>
            <a class="btn btn-primary">Create Account</a>
          </div>
        </div>
      </div>
    </div>

    <script src="js/scrolling-nav.js"></script>

</body></html>